{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div class="col">

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary btn-lg">M'inscrire</button>
				{{ form_end(registrationForm) }}

				<a class="btn btn-lg btn-secondary mt-3" href="{{ path('app_login') }}">
					Me connecter
				</a>

			</div>
		</div>
	</section>

	<h1>Inscription</h1>


{% endblock %}
