{% extends 'base.html.twig' %}

{% block title %}Halls
{% endblock %}

{% block body %}
	<h1 class="text-center grey yellow">Halls</h1>

	<table class="table table-dark table-striped mb-2">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ hall.id }}</td>
			</tr>
			<tr>
				<th>NameHall</th>
				<td>{{ hall.nameHall }}</td>
			</tr>
		</tbody>
	</table>

	<div class="text-center backgroundShow mt-2">
		<a href="{{ path('app_halls_index') }}" class="btn btn-light mb-3">Retour</a>

		<a href="{{ path('app_halls_edit', {'id': hall.id}) }}" class="btn btn-success mb-3">Editer</a>

		{{ include('halls/_delete_form.html.twig') }}
	</div>
{% endblock %}
