{% extends 'base.html.twig' %}

{% block title %}CINEWEB
{% endblock %}

{% block body %}

	<main>

		{# <main.mainIdex.scss> #}
		{# <Title> #}
			<h1 class="text-center mt-2 yellow"> Films du moment
		</h1>
		{# </Title> #}


		{# <carousel> #}
		<section>

			<div id="carousel">

				<div class="hideLeft">
					<img src="{{ asset('uploads/images/' ~ movieCarousel[6].imageMovie) }}" alt="image">
				</div>

				<div class="prevLeftSecond">
					<img src="{{ asset('uploads/images/' ~ movieCarousel[4].imageMovie) }}" alt="image">
				</div>

				<div class="prev">
					<img src="{{ asset('uploads/images/' ~ movieCarousel[2].imageMovie) }}" alt="image">
				</div>

				<div class="selected">
					<a href="{{ path('app_movies_show', {'id': movieCarousel[0].id}) }}">
						<img src="{{ asset('uploads/images/' ~ movieCarousel[0].imageMovie) }}" alt="image">
					</a>
				</div>

				<div class="next">
					<img src="{{ asset('uploads/images/' ~ movieCarousel[1].imageMovie) }}" alt="image">
				</div>

				<div class="nextRightSecond">
					<img src="{{ asset('uploads/images/' ~ movieCarousel[3].imageMovie) }}" alt="image">
				</div>

				<div class="hideRight">
					<img src="{{ asset('uploads/images/' ~ movieCarousel[5].imageMovie) }}" alt="image">
				</div>

			</div>

			<div class="text-center mt-2">
				<button class="button5" id="prev" alt="Boutton gauche">
					<i class="fa-solid fa-arrow-left"></i>
				</button>
				<button class="button5" id="next" alt="Boutton droite">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</div>

		</section>
		{# </carousel> #}


		{# <Film> #}
		<section class="mainIndexBackground">

			{% for movie in movies %}
				{# <card> #}
				<div class="mainIndexCenterCard">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{ asset('uploads/images/' ~ movie.imageMovie) }}" class="card-img-top" alt="image">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<a href="{{ path('app_movies_show', {'id': movie.id}) }}">
										<h3 class="card-title">{{ movie.titleMovie }}</h3>
									</a>
									<p class="card-text Roboto">{{ movie.shortDesciptionMovie|slice(0, 200) ~ '...' }}</p>
									<p class="card-text Roboto">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>

									<table>

										<thead>
											<th class="Roboto">Visions</th>
											<th class="Roboto">Horaires</th>
											<th class="Roboto">Salons</th>
										</thead>

										{% for session in sessions %}
											<tr>
												{% if session.idmovie.id == movie.id %}
													<td class="Roboto">{{session.dateSession|date('d-m')}}</td>
													<td class="Roboto">{{session.dateSession|date('H:i')}}</td>
													<td class="Roboto">{{session.halls.nameHall}}</td>
												{% endif %}
											</tr>
										{% endfor %}

									</table>

								</div>
							</div>
						</div>
					</div>

				</div>
				{# </card> #}
			{% endfor %}

		</section>
		{# </Film> #}


		{# <Arrow-up> #}
		<div class="resetWhiteRight">

			<a href="#" alt="Retour haut de page">
				<i class="fa-solid fa-arrow-up resetWhite"></i>
			</a>

		</div>
		{# </Arrow-up> #}
		{# <main.mainIdex.scss> #}

	</main>
{% endblock %}
