{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
    <h1>Sessions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mois film</th>
                <th>Heure film</th>
                <th>Jour film</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.monthMovie }}</td>
                <td>{{ session.hourMovie }}</td>
                <td>{{ session.dayMovie }}</td>
                <td>
                    <a href="{{ path('app_sessions_show', {'id': session.id}) }}" class="btn btn-light">Afficher</a>
                    <a href="{{ path('app_sessions_edit', {'id': session.id}) }}" class="btn btn-light">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sessions_new') }}">Créer Nouveau</a>
{% endblock %}
