{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <h1>Movies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>TitleMovie</th>
                <td>{{ movie.titleMovie }}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ movie.director }}</td>
            </tr>
            <tr>
                <th>Producer</th>
                <td>{{ movie.producer }}</td>
            </tr>
            <tr>
                <th>Actors</th>
                <td>{{ movie.actors }}</td>
            </tr>
            <tr>
                <th>TimeMovie</th>
                <td>{{ movie.timeMovie }}</td>
            </tr>
            <tr>
                <th>YearMovie</th>
                <td>{{ movie.yearMovie }}</td>
            </tr>
            <tr>
                <th>ImageMovie</th>
                <td>{{ movie.imageMovie }}</td>
            </tr>
            <tr>
                <th>VideoMovie</th>
                <td>{{ movie.videoMovie }}</td>
            </tr>
            <tr>
                <th>DescriptionMovie</th>
                <td>{{ movie.descriptionMovie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_movies_index') }}">back to list</a>

    <a href="{{ path('app_movies_edit', {'id': movie.id}) }}">edit</a>

    {{ include('movies/_delete_form.html.twig') }}
{% endblock %}
