{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}

{# {{ dump(app.user.roles[0]) }} #}

<h1 class="text-center backgroundShow">Actualités</h1>

{% for news in news %}

	{# <title/show/edit> #}
	<div class="newFrontbackgroundVisitor">
		<p class="text-center newIndexCenterBlock newIndexColorWhite">

			{% if is_granted('ROLE_ADMIN') %}
				ID:
				{{ news.id }}
				<a href="{{ path('app_news_show', {'id': news.id}) }}" class="btn btn-light">Afficher</a>
				<a href="{{ path('app_news_edit', {'id': news.id}) }}" class="btn btn-light">Modifier</a>
			</br>
		{% endif %}
	</p>
	<h2 class="text-center newIndexColor">{{ news.titleNew }}</h2>


	{# </title/show/edit> #}


	{# <text/Image> #}
	<div class="newIndexCenter">
		<div class="newIndexCenterLeft">
			<img src="{{ asset('uploads/images/' ~ news.imageNew) }}" width="100%" height="auto">
		</div>
		<div class="newIndexCenterRight">
			<p class="text-md-center newIndexCenterRightText">{{ news.descriptionNew }}</p>
		</div>
	</div>
</div>
{# </text/Image> #}{% endfor %}{% if is_granted('ROLE_ADMIN') %}

<div class="newIndexBlockTopBot">
	<a class="newIndexCreat newIndexColor" href="{{ path('app_news_new') }}">Créer Nouveau</a>
</div>{% endif %}{% endblock %}
