{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}

<h1 class="text-center grey yellow">Actualités</h1>

{% for news in news %}

	<section class="newFrontbackgroundVisitor">

		<div class="text-center">
			{% if is_granted('ROLE_ADMIN') %}
				<p class="white text-center">ID:
					{{ news.id }}</p>
				<a href="{{ path('app_news_show', {'id': news.id}) }}" class="btn btn-light">Afficher</a>
				<a href="{{ path('app_news_edit', {'id': news.id}) }}" class="btn btn-light">Modifier</a>
			</br>
		{% endif %}
		<h2 class="yellow">
			{{ news.titleNew }}
		</h2>
	</div>

	<div class="ixdexNormal">
		<div class="text">
			<p class="white Roboto">{{ news.descriptionNew }}</p>
		</div>

		<div class="image">
			<img src="{{ asset('uploads/images/' ~ news.imageNew) }}" width="100%" height="auto">
		</div>
	</div>

</section>{% endfor %}{% if is_granted('ROLE_ADMIN') %}

<div class="newIndexBlockTopBot">
	<a class="newIndexCreat newIndexColor" href="{{ path('app_news_new') }}">Créer Nouveau</a>
</div>{% endif %}{% endblock %}
