{% extends 'base.html.twig' %}

{% block title %}Recommendations
{% endblock %}

{% block body %}
	<h1 class="text-center backgroundShow">Recommendations</h1>

	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Restriction Âge</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for recommendation in recommendations %}
				<tr>
					<td>{{ recommendation.id }}</td>
					<td>{{ recommendation.forbiddenAge }}</td>
					<td>
						<a href="{{ path('app_recommendations_show', {'id': recommendation.id}) }}" class="btn btn-light">Afficher</a>
						<a href="{{ path('app_recommendations_edit', {'id': recommendation.id}) }}" class="btn btn-light">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-center backgroundShow">
		<a href="{{ path('app_recommendations_new') }}" class="btn btn-success">Créer Nouveau</a>
	</div>
{% endblock %}
