<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# bootstrap #}
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

		{# Footer #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

		{# FontFamilly #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">

		{# CSS #}
		<link
		rel="stylesheet" href="{{asset("css/style.css")}}">

		{# Icon #}
		<script src="https://kit.fontawesome.com/564a2c56dc.js" crossorigin="anonymous"></script>

		{# FontFamilly #}

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>

		{# <Header Visitor> #}

		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_main') }}">
					<img src="{{asset('resource/LogoProjet.png')}}" alt="Logo" width="45" height="24" class="d-inline-block align-text-top">
					CINEWEB
				</a>
				<button class="navbar-toggler navbarColorBlack" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_news_index') }}">Actualités</a>
						</li>

						{% if is_granted('ROLE_ADMIN') %}

							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_movies_index') }}">Films</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_recommendations_index') }}">Recommendations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_categories_index') }}">Genres</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_halls_index') }}">Salles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_sessions_index') }}">Horaires</a>
							</li>

						{% endif %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Mon compte
							</a>
							<ul class="dropdown-menu">

								{% if app.user %}

									<li>
										<a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
									</li>

								{% else %}

									<li>
										<a class="dropdown-item" href="{{ path('app_login') }}">Me connecter</a>
									</li>

								{% endif %}

							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{# </Header Visitor> #}


		{# <Header Admin> #}

		{# {% if is_granted('ROLE_ADMIN') %}
							<nav class="navbar bg-light fixed-top">
								<div class="container-fluid">
									<a class="navbar-brand" href="#">Offcanvas navbar</a>
									<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
										<span class="navbar-toggler-icon"></span>
									</button>
									<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
										<div class="offcanvas-header">
											<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
											<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
										</div>
										<div class="offcanvas-body">
											<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
												<li class="nav-item">
													<a class="nav-link active" aria-current="page" href="#">Home</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#">Link</a>
												</li>
												<li class="nav-item dropdown">
													<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
														Dropdown
													</a>
													<ul class="dropdown-menu">
														<li>
															<a class="dropdown-item" href="#">Action</a>
														</li>
														<li>
															<a class="dropdown-item" href="#">Another action</a>
														</li>
														<li>
															<hr class="dropdown-divider">
														</li>
														<li>
															<a class="dropdown-item" href="#">Something else here</a>
														</li>
													</ul>
												</li>
											</ul>
											<form class="d-flex mt-3" role="search">
												<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
												<button class="btn btn-outline-success" type="submit">Search</button>
											</form>
										</div>
									</div>
								</div>
							</nav>
						{% endif %} #}

		{# </Header Admin> #}

			<div class="heightMin">{% block body %}{% endblock %} </div>

			{# <Footer> #}
			<div class="footer-clean">
				<footer>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-sm-4 col-md-3 item">
								<h3>Services</h3>
								<ul>
									<li><a href="#">Web design</a></li>
									<li><a href="#">Development</a></li>
									<li><a href="#">Hosting</a></li>
								</ul>
							</div>
							<div class="col-sm-4 col-md-3 item">
								<h3>About</h3>
								<ul>
									<li><a href="#">Company</a></li>
									<li><a href="#">Team</a></li>
									<li><a href="#">Legacy</a></li>
								</ul>
							</div>
							<div class="col-sm-4 col-md-3 item">
								<h3>Careers</h3>
								<ul>
									<li><a href="#">Job openings</a></li>
									<li><a href="#">Employee success</a></li>
									<li><a href="#">Benefits</a></li>
								</ul>
							</div>
							<div class="col-lg-3 item social">
								<a href="#">
									<i class="icon ion-social-facebook"></i>
								</a>
								<a href="#">
									<i class="icon ion-social-twitter"></i>
								</a>
								<a href="#">
									<i class="icon ion-social-snapchat"></i>
								</a>
								<a href="#">
									<i class="icon ion-social-instagram"></i>
								</a>
								<p class="copyright">CINEWEB © 2022</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
			{# </Footer> #}

			{# Footer/script #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

			{# bootstrap #}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

			{# JS #}
			<script src="{{asset("js/main.js")}}"></body>
		</body>
	</html>
